{% extends 'rango/base_bootstrap.html' %}

{% block title_block %}
    Add Catgeory
{% endblock %}

{% block body_block %}
    <form action="{% url 'rango:add_category' %}" id="category_form" method="post">
        <h1 class="form-signin-heading">Add a Category</h1>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br>
            {{ field }}<br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary" value="Create Category">Create</button>
    </form>
{% endblock %}
