{% extends 'rango/base_bootstrap.html' %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <div>
    {% if category %}
        <h1>{{ category.name }}</h1>

        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in this category.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a class="foot" href="{% url 'rango:add_page' category.slug %}">Add Page</a>
        {% endif %}
    {% else %}
        <strong>The specified category does not exist!</strong>
    {% endif %}
    </div>
    <hr>
    <div>
        {% if user.is_authenticated %}
            <form class="form" action="{% url 'rango:show_category' category.slug %}" id='user_form' method="post">
               {% csrf_token %}
               <div class="form-group">
                  <input type="text" name="query" value="{{ query }}" size="50" id="query">
               </div>
               <button type="submit" name="submit" class="btn btn-primary">Search</button>
            </form>
            {% if result_list %}
            <h3>Results</h3>
            <!-- Display search results in an ordered list -->
            <div class="list-group">
            {% for result in result_list %}
              <div class="list-group-item">
                 <h4 class="list-group-item-heading">
                    <a href="{{ result.link }}">{{ result.title }}</a>
                 </h4>
                 <p class="list-group-item-text">{{ result.summary }}</p>
              </div>
            {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
