<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    </head>
    <body>
        <h1>About</h1>
        <p>This tutorial has been put together by <span>Justin</span>.</p>
        <div>
            <a href="/rango/">Rango</a>
        </div>
        <div>
            <img src="{{ MEDIA_URL }}fat_cat.jpg" alt="Fat Cat">
        </div>
    </body>
</html>
