h1 {
    font-family: 'Bungee Shade', cursive;
}

p {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.foot {
    padding-left: 5px;
}

img {
    margin-top: 5px;
}

span {
    text-transform: uppercase;
    font-weight: bold;
}

